.block {
	background: $color-grey;
	padding: 1.5rem 1rem 5rem;
	position: relative;

	&:after {
		content: "";
		position: absolute;
		height: 5rem;
		width: 100%;
		bottom: 0;
		left: 0;
		right: 0;
		background: {
			image: url('../images/swoosh--pink.svg');
			position: 0 100%;
			size: 100%;
			repeat: no-repeat;
		};
	}

}