.blockquote {
	position: relative;
	padding: 1em 1em 1em 3em;

	&:before {
		content: "\201C";
		position: absolute;
		color: $color-pink;
		font-size: 64px;
		top: 0;
		left: 0;
	}

	&__content {
		font-size: 18px;
		line-height: 22px;
		color: $color-slate;
		font-style: italic;
	}

	&__cite {
		color: $color-teachers;
		font-style: italic;
	}

}
