.btn {
	appearance: none;
	border: 0;
	border-radius: 0;
}

.btn--search {
	background: {
		color: $color-white;
		image: url('../images/icon--search--pink.png');
		position: center center;
		repeat: no-repeat;
	}
	text-indent: -9999em;
	overflow: hidden;
	height: 2.25rem;
	width: 2.25rem;
}

.btn--primary,
.btn--secondary {
	color: $color-white;
	padding: 0.75rem 1rem;
	border-radius: 0.25rem;

	&:hover {
		color: $color-white;
	}

	&:before {
		content: "\25B6";
		padding-right: 0.5rem;
	}

}

.btn--primary {
	background: $color-grey--dark;
	background: linear-gradient(to bottom, lighten($color-grey--dark, 20%) 0%, $color-grey--dark 100%);
}

.btn--secondary {
	background: $color-pink--dark;
	background: linear-gradient(to bottom, lighten($color-pink--dark, 20%) 0%, $color-pink--dark 100%);
}