.cta {
	@include col(12);
	display: flex;
	flex-direction: column;

	@include breakpoint($sm) {
		@include col(4);
	}

	@include hover-state() {
		text-decoration: none;
	}

	&__header {
		border-top: 0.5rem solid $color-pink;
		background-color: $color-pink;
		padding: 1rem;
		color: $color-white;
		&:before {
			content: "\25B6";
			padding-right: 0.5em;
		}
	}

	&__image {
		img {
			max-width: 100%;
		}
	}

	&__body {
		padding: 2rem 1rem 0;
		background: $color-grey;
		color: $color-grey--dark;
	}

	&__link {
		background: $color-grey;
		color: $color-pink;
		padding: 1rem;

		&:before {
			content: "\25B6";
			padding-right: 0.5em;
		}
	}

	&--teachers {
		.cta__header {
			border-color: $color-teachers;
		}
	}

	&--learners {
		.cta__header {
			border-color: $color-learners;
		}
	}

	&--policy {
		.cta__header {
			border-color: $color-policy;
		}
	}

}
