.header__subnav {

	display: none;

	@include breakpoint($sm) {
		display: block;
	}

	background-color: $color-pink--dark;
	font-size: 0.9rem;
	padding: 1em 0;

	&_container {
		display: flex;
		list-style: none;
		justify-content: flex-end;
		align-items: center;
		margin: 0;
	}

}

.header__sub_item {
	padding: 0em 1em;

	&:not(:last-child) {
		border-right: 1px solid $color-white;
	}

	a {
		color: $color-white;
	}

}
