.nav {
	background-color: $color-grey;
	
	@include breakpoint($sm) {
		border-top: 4px solid $color-pink--dark;
	}

	&__container {
		padding: 0;
		margin: 0 (-$gutter);
		display: flex;
		list-style-type: none;
		flex-direction: column;

		@include breakpoint($sm) {
			flex-direction: row;
		}

	}

	&__item {
		border-left: 6px solid $color-pink;
		border-bottom: 1px solid $color-grey;
		border-bottom-color: $color-white;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;

		@include breakpoint($sm) {
			display: block;
			border-left: none;
			border-top: 4px solid $color-pink;
			margin-top: -4px;
		}

		a {
			display: block;
			padding: 0.5rem 1rem;
			color: $color-pink;

			&:hover {
				color: $color-grey--dark;
				text-decoration: none;
			}

		}

		&--drop {
			@include breakpoint($sm) {
				&:hover {
					a {
						color: $color-white;
						background-color: $color-grey--dark;
					}
				}
			}
		}

		@include breakpoint($sm){
			&:hover .nav__drop {
				display: block;
			}
		}

	}

	&__drop {
		display: none;
		position: absolute;
		list-style: none;
		margin: 0;
		padding: 0;
		min-width: 15em;

		.nav__item {
			border-top: 1px solid $color-white;
			display: block;
		}

	}

}

.nav__item--home {
	border-color: $color-teachers;
}

.nav__item--learners {
	border-color: $color-learners;
}

.nav__item--parents {
	border-color: $color-policy;
}

.nav__item--connent {
	border-color: $color-pink--light;
}

.nav__item--about {
	border-color: $color-pink;
}

.nav__item {
	border-bottom-color: $color-white;
}

.nav__drop_toggle {
	display: flex;
	background-color: $color-grey--dark;
	color: $color-white;
	padding: 0.5rem;

	&:after {
		content: "\25BC";
	}

	&--open {

		& + .nav__drop {
			display: block;
			position: relative;
			flex: 0 1 100%;
			width: 100%;

			@include breakpoint($sm) {
				display: none;
			}

		}

		&:after {
			content: "\25B2";
		}


	}

	@include breakpoint($sm){
		display: none;
	}
}

.mobile-menu {
	display: flex;
	background: $color-pink;
	@include breakpoint($sm){
		display: none;
	}

	.nav--open & {
		.menu-toggle {
			background: $color-grey--dark;
			&:after {
				content: "\25B2";
			}
		}
	}
}

.menu-toggle {
	padding: 0.75rem 1rem;
	margin: 0;
	background: $color-pink--dark;
	color: $color-white;
	transition: 500ms all;
	cursor: pointer;

	&:after {
		content: "\25BC";
		margin-left: 0.5em;
	}

}

.nav .nav__container {
	display: none;
	@include breakpoint($sm) {
		display: flex;
	}
}

.nav--open .nav__container {
	display: block;
}