.footer {
	background-color: $color-grey--dark;
	color: $color-white;
	padding: 2rem 0;
}

.footer__links {
	@include col(12);
	@include breakpoint($sm) {
		@include col(8);
	}

	margin: 0;
	list-style: none;
}

.footer__link_item {

	display: inline-block;
	padding-right: 0.5em;
	margin-right: 0.5em;

	&:not(:last-child) {
		border-right: 1px solid $color-pink--light;
	}

	a {
		color: $color-white;
	}

}

.footer__copyright {
	@include col(12);
	@include breakpoint($sm) {
		@include col(8);
	}
}

.footer__social {
	justify-content: space-around;
	display: flex;

	@include col(12);
	margin: 1rem 0;

	@include breakpoint($sm) {
		margin: 0;
		@include col(4);
		justify-content: flex-end;
	}

	img {
		width: 50px;
		height: 50px;
		margin-right: 1rem;
	}

}

.footer__partners {
	@include col(12);
	@include breakpoint($sm) {
		@include col(4);
	}
}