.container {
	max-width: 80rem;
	margin: 0 auto;
	padding: 0 $gutter;
}

.row {
	display: flex;
	flex: 0 1 auto;
	flex-direction: row;
	flex-wrap: wrap;
	margin-right: -$gutter;
	margin-left: -$gutter;
}

.col {
	flex: 0 0 auto;
	padding-right: $gutter;
	padding-left: $gutter;
}

@mixin col($col, $columns: $columns) {
	flex-basis: percentage($col/$columns);
	max-width: percentage($col/$columns);
}