.header__main {
	background-color: $color-pink--dark;

	@include breakpoint($sm) {
		background-color: $color-pink;
		padding: 2rem 0;
	}

}

.logos {
	display: flex;
	flex-basis: 100%;
	max-width: 100%;
	align-items: center;
	justify-content: flex-start;

	@include breakpoint($sm) {
		@include col(8);
		align-items: flex-end;
	}

	img {
		max-width: 100%;
	}

}

.logo--bc {
	max-width: 8rem;
	padding-right: 1rem;
	border-right: 1px solid $color-pink--light;
	margin: 0.5rem 1rem 0.5rem 0;

	@include breakpoint($sm) {
		margin-top: 0;
		margin-bottom: 0;
		max-width: 9rem;
	}

}

.logo--nexus {
	max-width: 7rem;
	margin: 0.5rem 0;

	@include breakpoint($sm) {
		margin: 0;
		max-width: 9rem;
	}

}

.mobile-search {
	width: 3rem;
	height: 3rem;
	margin-right: -1rem;
	margin-left: auto;
	flex: 0 0 3rem;
	transition: 500ms all;
	display: flex;
	justify-content: center;
	align-items: center;

	&--open {
		background: $color-grey--dark;
	}

	img {
		width: 1.25rem;
		height: 1.25rem;
	}

	@include hover-state() {
		background-color: $color-pink;
	}

	@include breakpoint($sm) {
		display: none;
	}

}

.header__search {
	background: $color-grey--dark;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	display: none;
	justify-content: flex-end;
	align-items: flex-end;
	@include col(12);

	@include breakpoint($sm) {
		display: flex;
		@include col(4);
		padding-top: 0;
		padding-bottom: 0;
		width: auto;
		background: transparent;
	}

	&_input {
		border: none;
		flex: 1 1 auto;
	}

	&--open {
		display: flex;
	}
}