.main {
	padding: 2rem 0;
}

.main__section {
	& > * + * {
		margin-bottom: 1rem;
	}

	@include col(12);

	@include breakpoint($sm) {
		@include col(8);
	}

	p {
		& > img {
			float: left;
			padding-right: 1rem;
			padding-bottom: 1rem;
		}
	}

}

.main__aside {
	@include col(12);

	@include breakpoint($sm) {
		@include col(4);
	}
}