$fontpath: "../fonts";
$ionicons-font-path: $fontpath !default;
$fonts: 'bc-regular', 'bc-light', 'bc-bold';

@each $name in $fonts {
	//@debug $name;
	$path: '#{$fontpath}/#{$name}';
	//@debug $path;
	//@debug '#{$path}.eot';
	@font-face {
		font-family: $name;
		src: url('#{$path}.eot');
		src: url('#{$path}.eot') format('embedded-opentype'),
		url('#{$path}.ttf') format('truetype'),
		url('#{$path}.woff') format('woff'),
		url('#{$path}.svg') format('svg');
		@if ($name == 'bc-bold') {
			font-weight: bold;
			font-style: normal;
		} @else {
			font-weight: normal;
			font-style: normal;
		}
	}
}
