input[type=date],
input[type=datetime-local],
input[type=datetime],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week] {
	height: 2.25rem;
	padding: 0.5rem;
	vertical-align: middle;
	appearance: none;
	border: 1px solid $color-grey--light;
}