body {
	font-family: Arial, sans-serif;
}

h1, .h1 {
	font-size: 32px;
	line-height: 34px;
	font-weight: 400;
	font-family: 'bc-bold', Arial, sans-serif;
}

h2, .h2 {
	font-size: 20px;
	line-height: 24px;
	font-weight: 600;
	font-family: 'bc-bold', Arial, sans-serif;
}

h3, .h3 {
	font-size: 15px;
	line-height: 18px;
	font-weight: 400;
	font-family: 'bc-bold', Arial, sans-serif;
	text-transform: uppercase;
}

h4, .h4 {
	font-family: Arial, sans-serif;
	font-size: 13px;
	line-height: 15px;
	font-weight: 600;
	text-transform: uppercase;
}

p {
	font-size: 14px;
	line-height: 18px;

	&.intro {
		font-size: 16px;
		line-height: 24px;
	}

}
