$color-white: #fff;
$color-pink: #d42f5f;
$color-pink--dark: #a62a44;
$color-pink--light: #f0e1e6;
$color-grey: #f7f7f7;
$color-grey--light: #ebeff0;
$color-grey--dark: #333333;
$color-slate: #617880;
$color-teachers: #71dfe9;
$color-learners: #95c848;
$color-policy: #fbc246;
$color-teal: #2390ad;

$font-family-base: Helvetica, Arial, sans-serif;
$font-size-base: 16px;
$font-weight-base: 400;
$line-height-base: 1.25;
$body-color: #333;
$body-bg: #fff;

$link-color: $color-teal;
$link-decoration: none;

$link-hover-color: darken($color-teal, 20%);
$link-hover-decoration: underline;

// Breakpoint Sizes
$xs: ( max:  767px );
$sm: ( min:  768px );
$md: ( min:  992px );
$lg: ( min: 1200px );

//Grid
$gutter: 1rem;
$columns: 12;